/* Add here only component specific styles, global styles should be added in index.css */

/* Examples: 

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;
}
  */
 